*{
  box-sizing: border-box;
}

@font-face {
  font-family: myFont;
  src: url('./gl-gordeziani-regular.ttf');
}

header {
  background-color: #F2F2F2;
  width: 100%;
  padding: 2px;
  margin-top: 10px;
  font-size: 25px;
  color: #075105;
  height: 120px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.main{
  display: flex;
  gap: 60px;
  align-items: center;
  margin-top: 9px;
  margin-right: 19px;
}
.main a {
  text-decoration: none;
  color: #075105;
}

nav {
    float: left;
    width: 30%;
    height: 300px;
    background: #fff;
    padding: 20px;
}
  nav ul {
    list-style-type: none;
    padding: 0;
}
article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px; 
}
footer {
    background-color: lightblue;
    padding: 10px;
    text-align: center;
    color: white;
}
section::after {
  content: "";
  display: table;
  clear: both;
}

.gamoc{
  width: 460px;
  height: 357px;
}

.gamoc img{
  width: 460px;
  height: 357px;
  object-fit: contain;
}

.lang{
  display: flex;
  align-items: center;
}

  .user{
    display: flex;
    align-items: center;
  }
.position{
  position: absolute;
  width: 100%;
  background-color: #075105;
  top: 1px;
  height: 35px;
  display: flex;
  justify-content: right;
  z-index: 0;
  color: white;
  align-items: center;
  font-size: 15px;
}

.position span{
  margin-right: 20px;
}

img{
  z-index: 2;
}

.ourprod{
  width: 100%;
  text-align: center;
  color: #075105;
  font-size: 33px;
  font-weight: 800;
}
.main-body{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 60px;
  margin-bottom: 100px;
}

.updatedbig{
  width: 885px;
}
.withimga{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: max-content;
}
.withimga img{
  width: 400px;
  height: 249px;
}

.main-bodyy{
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 100px;
  margin-left: 30px;
}
/* @media only screen and (max-width: 1360px){
  .display-flex{
    margin-left: 0px;
    border: 5px #075105 solid;
  }
} */
/* .display-flex{
  margin-left: 140px;
} */


.display-flex{
  display: flex;
  justify-content: center;
}

.withimg span{
  display: block;
  text-align: center;
  color: #075105;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}



.ourprod2{
  margin-top: 100px;
  display: flex;
  align-items: center;
  margin-bottom: 150px;
}

.before{
  width: 38%;
  height: 3px;
  background-color: #075105;
}
.center{
  font-size: 28px;
  color:  #075105;
  font-weight: 800;
  margin-left: 60px;
  margin-right: 50px;
}

.after{
  width: 38%;
  height: 3px;
  background-color: #075105;
}

.nayini2{
  display: block;
  line-height: 160%;
  text-align: center;
  color:  #075105;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 60px;
}

.for-flex{
  display: flex;
  padding-left: 40px;
  gap: 40px;
}

.circle{
  border: #075105 5px solid;
  border-radius: 100%;
  max-width: 15px;
  max-height: 15px;
  min-width: 15px;
  min-height: 15px;
}

.for-flex2{
  display: flex;
  width: 80%;
  gap: 10px;
}

.text{
  font-size: 22px;
  line-height: 130%;
}

.forimage{
  margin-left: 50px;
}
.lang2{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.block div{
  gap: 3px;
  margin-top: 10px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 17.5px;
  z-index: 4;
  cursor: pointer;
}
.block{
  width: 130px;
  background-color: #F2F2F2;
  border-radius: 17.5px;
  position: absolute;
  top: 70px;
}
.block div span{
  font-size: 14px;
  line-height: 70%;
}



.block div:hover{
  height: 60px;
  background-color: white;
}
.d-flex{
  display: flex;
}

.withspan{
  margin-top: 80px;
  color:  #075105;
  font-size: 23px;
  line-height: 110%;
  gap: 15px;
  width: 750px;
  font-weight: bolder;
}

.forpadd{
  justify-content: center;
  gap: 70px;
  margin-top: 110px;
}

.forrame{
  position: absolute;
  left: 100px;
  top: 100px;
  z-index: 0;
}

.forrela{
  position: relative;
}

.abut{
  width: 550px;
}
.mcenare{
  position: absolute;
  left: 1px;
  bottom: -180px;
}

.agharvici{
  position: relative;
}

.mcenare2{
  position: absolute;
  bottom: 1px;
  right: 1px;
}

.and{
  align-items: center;
  gap: 4px;
}

.soo{
  top: 50px;
  padding-top: 40px;
  position: absolute;
  height:200px ;
  z-index: 1;
  display: none;
}


.fordrop:hover .soo{
  display: block;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 170px;
  padding: 12px 16px;
  z-index: 1;
  background-image: url('./bordera.png');
  height: 160px;
}
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}



.under{
  text-decoration: underline;
  cursor: pointer;
}

.ako{
  text-align: center;
  font-size: 29px;
  font-weight: 600;
  color:  #075105;
  margin-bottom: 0;
  margin-top: 80px;
}

.experience{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 80px;
}
.experience div{
  text-align: center;
}

.expspan{
  color:  #075105;
  font-size: 20px;
  line-height: 120%;
}

.strokeg{
  font-weight: bold;
}

.expdiv{
  width: 460px;
}

h1 {
  overflow: hidden;
  text-align: center;
  font-size: 28px;
  color:  #075105;
}

h1::before,
h1::after {
  background-color:#075105;
  content: "";
  display: inline-block;
  height: 3px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

h1::before {
  right: 0.7em;
  margin-left: -50%;
}

h1::after {
  left: 0.7em;
  margin-right: -50%;
}

.withspan button{
  width: 500px;
  height: 70px;
  border:  #075105 2px solid;
  border-radius: 35px;
  color: #075105;
  background-color: white;
  font-size: 23px;
  font-weight: bolder;
}

.withspan button:hover{
  background-color: #075105;
  color: white;
  cursor: pointer;
}

.for-more-circle{
  min-width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #075105;
  margin-top: 3px;
}

p{
  display: inline-block;
}

.for-p{
  display: flex;
}

.for-p div {
  font-size: 20px;
  color:  #075105;
}

.for-p span{
  font-size: 30px;
}




.withspana{
  margin-top: 20px;
  color: #075105;
  font-size: 19px;
  line-height: 110%;
  gap: 15px;
  font-weight: bolder;
  width: 80%;
}

.nayeni-ebrdzvis{
  font-size: 22px;
  color: #075105;
  line-height: 110%;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 40px;
}

.for-production{
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  justify-content: center;
  padding-left: 8%;
}

.for-spani{
  font-size: 21px;
  color: #075105;
  font-weight: bold;
  line-height: 110%;
}

@media only screen and (max-width: 1366px) {
  .main-body {
    width: 100%;
    gap: 2px;
  }
  .forpadd{
    gap: 10px;
  }
}

.mobile{
  display: none;
  position: relative;
}

.mobile-header{
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 15px;
}
.mobile-dropdown{
  width: 100px;
  position: relative;
}

.main-mobile{
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: absolute;
  right: -10px;
  top: 90px;
  z-index: 100;
  background-color: #F2EDED;
  border-radius: 35px;
}

.main-mobile a{
  text-decoration: none;
  color: #075105;
  font-family: myFont;
  font-size: 24px;
}

.mobile-header span{
  font-family: myFont;
  font-size: 24px;
}

.header-img-mobile{
  width: 84px;
  height: 73px;
}

.arrow-mobile{
  position: absolute;
  left: 20px;
  top: 20px;
}


.for-none{
  display: none;
}
.margin-topee{
  margin-top: 60px;
}

.mobile-body{
  display: flex;
  justify-content: center;
}

.mobile-flex{
  display: flex;
  justify-content: center;
}
.mobile-flex img{
  width: 180px;
  height: 130xp;
}

.mobile-nayeni{
  width: 367px;
  height: 220px;
}


@media only screen and (max-width: 500px) {
  #root{
    width: 399px;
  }

  h1{
    display: none;
  }
  .into-mobile{
    display: none;
  }
  .main-body{
    display: none;
  }

  .for-none{
    display: block;
  }

  .withspan{
    width: 140px;
    font-size: 12px;
  }
  .position{
    width: 593px;
  }
  .pc{
    display: none;
  }
  .mobile{
    display: block;
  }
  .updatedbig{
    width: 200px;
  }
  .main{
    gap: 5px;
    width: 100%;
  }
  .withimga img{
    width: 200px;
    height: 100px;
  }

  .withimg img{
    width: 100px;
    height: 100px;
  }
  .withimga img{
    width: 200px;
    height: 100px;
  }
  .withimg span{
    font-size: 12px;
  }
  .forrela img{
    width: 230px;
  }
  .forpadd{
    gap: 5px;
  }

  .main-body{
    gap: 7px;
  }

  .withspan{
    margin-top: 0px;
  }
  .rakiticha{
    display: flex;
    flex-direction: column;
  }

  .experience{
    flex-direction: column;
  }
  .mcenare2{
    width: 100px;
    display: none;
  }
  .mcenare img{
    width: 100px;
    height: auto;
  }
  *{
    object-fit: contain;
  }

}






th, tr {
  border:1px solid black;
}

tr{
  width: 100%;
}
 td span{
  font-size: 21px;
  font-weight: bolder;
  border-left: 2px solid #075105;
  padding-left: 20px;
 }

.for-lela{
  color: #075105;
  font-weight: bold;
  font-size: 23px;
}

.lela-inside{
  font-size: 20px;
  color: #075105;
  font-weight: bolder;
  border: 1px solid #075105;
  border-radius: 35px;
  text-align: center;
}

.lela-inside1{
  width: 100px;
}