@font-face {
    font-family: myFont;
    src: url('./gl-gordeziani-regular.ttf');
}

.blog1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
    max-height: 400px;
    cursor: pointer;
}

.blog{
    padding: 15px;
    display: flex;
    gap: 150px;
}

.blog-p{
    width: 300px;
}

.for-blog{
    margin-left: 120px;
    display: block;
    font-family: myFont;
    font-size: 60px;
    max-width: 300px;
    color: #075105;
    margin-top: 13px;
    margin-bottom: 0;
}

.for-qavtas{
    margin-left: 230px;
}

.inreview{
    font-size: 32px;
    width: 400px;
    text-align: center;
    font-family: myFont;
    color: #075105;
    font-weight: bold;
}

.blog-img{
    width: 400px;
    height: 425px;
}

.blog2{
    margin-top: 60px;
    justify-content: center;
    gap: 180px;
}