@font-face {
    font-family: myFont;
    src: url('./gl-gordeziani-regular.ttf');
}

.blog1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
    max-height: 400px;
    cursor: pointer;
}

.blog{
    padding: 15px;
    display: flex;
    gap: 100px;
}


.for-blog{
    margin-left: 100px;
    display: block;
    font-family: myFont;
    font-size: 60px;
    max-width: 300px;
    color: #075105;
    margin-top: 13px;
    margin-bottom: 0;
}

.for-qavtas{
    margin-left: 180px;
}

.blog span{
    padding-right: 48px;
}

.inreview{
    font-size: 32px;
    width: 400px;
    text-align: center;
    font-family: myFont;
    color: #075105;
    font-weight: bold;
}

.blog-img{
    width: 350px;
    height: 425px;
}

.blog2{
    margin-top: 60px;
    justify-content: center;
    gap: 100px;
}

.blog-flex{
    display: flex;
    justify-content: space-between;
    height: 165px;
    padding-right: 70px;
}
.blog-span{
    font-size: 26px;
    color: #075105;
}

.blog-circle{
    width: 10px;
    height: 10px;
    border: 2px solid #075105;
    border-radius: 100%;
    position: absolute;
    top: 11px;
    background-color: #075105;
    left: 40px;
}

.blog-interwie-flex{
    position: relative;
}


.forpaddingblog{
    padding-left: 65px;
}

.for-blog-margin{
    margin-top: 60px;
}
.for-blog-margin span{
    font-weight: bolder;
}

.third span{
    font-weight: lighter;
}